.user-list-container {
  width: 80%;
  max-width: 800px; /* Adjust max-width as needed */
  margin: auto; /* Center the container horizontally */
  padding: 20px; /* Add padding around the container */
}

.user-list-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.user-list-container ul {
  list-style-type: none;
  padding: 0;
}

.user-list-container li {
  margin-bottom: 20px;
  padding: 10px; /* Small padding between elements */
}

.user-list-container li hr {
  border: none;
  margin: 10px 0;
}

.user-list-container button {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border: 1px solid #000000; /* Small black border */
  margin-right: 5px; /* Small margin between buttons */
}
